<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#content" class="skip-link">Menuju ke konten</a>
  <header>
    <div class="header">
      <div id="logo">
        <a href="/">
          <img src="./images/logo-red.png" alt="Logo Botram" class="img-logo">
          <img src="./images/logo-botram.png" alt="Logo Botram" class="img-logo-large">
        </a>
      </div>
      <nav id="nav" class="nav">
        <button id="burger-menu" class="burger" name="Burger Daftar Menu">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/hidayahapriliansyah" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="content" class="content">
    <section class="hero">
      <img src="./images/heros/hero-image_2.jpg"  alt="Kegiatan makan bersama" class="img-hero">
      <div class="hero-tagline">
        <div class="tagline">
          <h1>Botram</h1>
          <p>Apapun makanannya, kalau makan bareng, makan makin enak!</p>
        </div>
      </div>
    </section>
    <section class="explore">
      <h2>Explore Restaurant</h2>
      <div class="card-group">
        
      </div>
    </section>
    <section class="hits">
      <h2>Hit Foods!</h2>
      <div class="card-group">

      </div>
    </section>
  </main>
  <footer>
    <p>
      Copyright &#169; 2023 Botram
    </p>
    <p>
      Dibuat dengan 💖 oleh Hidayah Apriliasnyah 
    </p>
  </footer>
</body>
</html>